# Env Example
DISCORD_TOKEN=your_discord_bot_token

EXCHANGE_API_KEY=your_exchange_rate_api_key
CURRENCY_FREAK_API_KEY=your_currency_freaks_api_key

EXCHANGE_RATE_BASE_URL=https://v6.exchangerate-api.com/v6
CURRENCY_FREAK_BASE_URL=https://api.currencyfreaks.com

CHANNEL_ID=your_discord_channel_id